.quora_loginPage {
    background-image: url("https://qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png");
    background-size: cover;
    background-repeat: no-repeat; /* Image will not repeat
    /* Set height to 100vh for full viewport height */
    height: 100vh;
    /* Set width to 100% for full viewport width */
    width: 100%;
    /* Additional styling properties if needed */
  }

  .quora_loginSection{
    max-width: 700px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; 
    background-color: #FFFFFF;
    height: auto;
  }

  .quora_loginInputboxSection{
    margin-top: 40px;
    display: flex;
    gap: 8px;
  }

  .quora_loginwithemail_orfacebook{
    display: flex;
    flex-direction: column;
    margin: 16px;
  }

  .quora_privacyStatement{
    color: #9C9EA1;
    font-size: small;
    /* letter-spacing: 0.5px; */
    margin-bottom: 16px;
  }

  .quora_privacyText{
    color: #3C77B7;
  }

  .loginWith_gmail{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
    border: 1px solid #DEE0E1;
    padding: 8px;
    color: #282829;
    margin-bottom: 8px;
    cursor: pointer;
    &:hover{
        background-color: #F5F5F5;
    }
  }

  .loginWith_faceBook{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
    border: 1px solid #DEE0E1;
    padding: 8px;
    color: #282829;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
        background-color: #F5F5F5;
    }
  }

  .Quora_signupWithemail{
    text-align: center;
    color: #636466;
    font-size: small;
    font-weight: bold;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    &:hover{
        background-color: #F5F5F5;
    }
  }

  .input_loginSection{
    display: flex;
    flex-direction: column;
  }


  .quora_loginHeader{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quora_loginLogo{
    padding: auto;
    margin: auto;
    width: 200px;
    margin-top: 4px;
  }

  .quora_loginHeaderpara{
    font-weight: bold;
    color: #636466;
    font-size: 16px;
  }

  .gmail_logo{
    width: 24px;
  }
  .facebook_logo{
    width: 24px;
  }

  .login_vertical-line {
    border-left: 1px solid #DEE0E1; /* Adjust the color and thickness as needed */
    height: 420px; /* Adjust the height as needed */
    margin: 0 16px;
  }

  .login_horizontal-line{
    margin-top: 8px;
    width: 19rem;
    color: #DEE0E1;
  }

  .quora_loginText_container{
    margin-bottom: 20px;
    color: #424243;
    font-weight: bold;
    font-size: 14px;
  }
  
  .login_form{
    display: flex;
    flex-direction: column;
    color: #282829;
    font-size: 13px;
    font-weight: bolder;
  }

  .loginInput_Email{
    margin-top: 8px;
    padding: 12px 8px;
    border: 1px solid #DEE0E1;
    &:focus{
      outline: none;
      border: 1px solid #2E69FF;
    }
  }

  .loginInput_Password{
    margin-top: 8px;
    margin-bottom: 36px;
    padding: 12px 8px;
    border: 1px solid #DEE0E1;
    &:focus{
      outline: none;
      border: 1px solid #2E69FF;
    }
  }

  .login_lowerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .forgot_password{
    color: #939598;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }

  .login_button{
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    color: #F4F7FF;
    font-weight: bold;
    background-color: #96B4FF;
    cursor: pointer;
    &:hover{
      background-color: #1A73E8;
    }
  }

  @media screen and (max-width:600px) {
    .quora_loginSection {
      max-width: 332px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      /* padding: 20px; */
      background-color: #FFFFFF;
      height: auto;
  }
  .login_horizontal-line {
    margin-top: 8px;
    width: 8rem;
    color: #DEE0E1;
}
.loginInput_Email {
  margin-top: 8px;
  padding: 12px 8px;
  border: 1px solid #DEE0E1;
  width: 120px;
}

.loginInput_Password {
  width: 120px;
}
  }