.quora__underconstructionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the container takes the full height of the viewport */
  }
  
  .quora__underconstructionImage {
    max-width: 100%; /* Ensure the image does not exceed its natural size */
    max-height: 100%; /* Ensure the image does not exceed its natural size */
  }