
.qHeader{
    background-color: #FFFFFF;
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    
}
.qHeader__dark{
    background-color: #262626;
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}
.qHeader__content{
    max-width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quora__logo{
    width: 100px;
    height: 28px;
    margin-right: -40px;
    cursor: pointer;

}
.quora__logodark{
    width: 100px;
    height: 28px;
    margin-right: -40px;
    cursor: pointer;
    background-color: #262626;
}

.qHeader__icons{
    display: flex;
    font-size: 30px;
    color: #8F9092;
    font-weight: bolder;
    gap: 14px;
    cursor: pointer;
    
}

.qHeader__iconsDark{
    display: flex;
    font-size: 30px;
    color: #D5D6D6;
    font-weight: bolder;
    gap: 14px;
    cursor: pointer;
}
.qHeader__icon:hover{
color: #B92B27;
}

.qHeader__input{
    display: flex;
    margin-left: -80px;
    /* position: absolute */

}


.qHeader__searchlogo{
    font-size: x-large;
    position: relative;
    left: 28px;
    top: 8px;
    font-weight: lighter;
    color: #8F9092;
}

.qHeader__inputbox {
    width: 320px;
    color: #8F9092;
    border: 1px solid #8F9092;
    height: 36px;
    padding: auto;
    padding-left: 28px;
    border-radius: 4px;

    &:focus {
        border: 1px solid #2E69FF;
        outline: none;
    }
}

.qHeader__inputboxDark{
    width: 320px;
    color: #8F9092;
    border: 1px solid #8F9092;
    height: 36px;
    padding: auto;
    padding-left: 28px;
    border-radius: 4px;
    background-color: #262626;
    color: #D5D6D6;

    &:focus {
        border: 1px solid #2E69FF;
        outline: none;
    }
}


.qHeader__Rem{
    display: flex;
    align-items: center;
}
.qHeader__userlogo{
    font-size: 32px;
    margin: auto;
    color: #8F9092;
    cursor: pointer;
}
.qHeader__userlogoDark{
    font-size: 32px;
    margin: auto;
    color: #D5D6D6;
    cursor: pointer;
}

.qHeader__addQcreateQ{
    padding: 16px;
    border: none;
    display: flex;
    gap: 8px;
}

.addQ{
    padding: 8px 12px;
    border: none;
    margin-right: 0.5px;
    background-color: #B92B27;
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: #A82723;
    }
}

.createQ{
    padding: 8px 12px;
    border: none;
    background-color: #B92B27;
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: #A82723;
    }
}