.quora__sidebar {
  margin-top: 54px;
  flex: 1 1;
  background-color: #f1f2f2;
  color: #636466;
  cursor: pointer;
  margin-right: 10rem;
  z-index: 0;
  
}

.quora__sidebarDark{
  margin-top: 54px;
  flex: 1 1;
  background-color: #181818;
  color: #d5d5d5;
  cursor: pointer;
  margin-right: 10rem;
  z-index: 0;
}
.quora__sidebarlist {
  list-style: none;
  position: fixed;
  & :hover {
    background-color: #e4e6e6;
    border-radius: 4px;
  }
}

.quora__sidebarlistDark{
  list-style: none;
  position: fixed;
  & :hover {
    background-color: #1D1D1D;
    border-radius: 4px;
  }
}
.sidebarlist {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 16px;
}

.sidebar__spacelogo {
  font-size: large;
  padding: 6px;
}
.sidebar_listlogo {
  width: 20px;
  height: 20px;
  padding: 6px;
  border-radius: 8px;
}

.sidebar_listnavigation {
  font-size: 12px;
  padding: 8px 2px;
  font-weight: lighter;
}

@media screen and (max-width:600px) {
  .quora__sidebar {
    margin-top: 54px;
    flex: 1 1;
    background-color: #f1f2f2;
    color: #636466;
    cursor: pointer;
    margin-right: 10rem;
    z-index: 0;
    display: none;
}
}
