.quora_AddquestionModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}

.quora_AddchildquestionModal{
        position: fixed;
        z-index: 11;
        justify-content: space-between;
        background-color: #fff;
        pointer-events: auto;
        width: 760px;
        height: 480px;
        border: 1px solid #DEE0E1;
        border-radius: 5px;
}


.quora_AddquestionModalCrossLogo{
    font-size: 20px;
    color: #656668;
    padding: 12px;
    cursor: pointer;
}

.quoraAddquestionModalHeaderSection{
    margin: auto;
    font-weight: bold;
    color: #282829;
    font-size: 14px;
    position: absolute;
    top: 48px;
    left: 45%;
    
}

.quoraquestionTipsDetails{
    width: 80%;
    background-color: #EBF0FF;
    left: 40px;
    position: absolute;
    left: 52px;
    top: 72px;
}
